@use 'colors' as *;
@use 'mixins' as *;

footer {
	background-color: $dark;
	color: $cream-white;

	.footer__logo-icons {
		color: white;
		.navbar-brand {
			display: flex;
			flex-direction: column;
			letter-spacing: 0.3em;
			font-weight: bold;
			margin-bottom: 1em;
			font-style: italic;
			img {
				width: 50px;
				height: 50px;
				margin: auto;
			}
		}
		.footer-icons {
			font-size: 2rem;
			margin: 1em;
			i {
				margin: 0.3em;
			}
		}
	}
	.designer {
		order: 2;
		margin-top: 2.5em;
		letter-spacing: 0.4em;
	}
	.footer__adress {
		order: 1;
		letter-spacing: 0.3em;
		.number {
			color: $light-blue;
			.fa-phone-alt {
				transform: rotate(100deg);
			}
		}
	}
}

@media (min-width: 992px) {
	footer {
		.footer__logo-icons {
			.navbar-brand {
				letter-spacing: 0.3em;

				margin-bottom: 1em;

				img {
					width: 50px;
					height: 50px;
					margin: auto;
				}
			}
			.footer-icons {
				font-size: 2rem;
				margin: 1em;
				i {
					margin: 0.3em;
				}
			}
		}
		.designer {
			order: 1;
			margin-top: 2.5em;
            margin: auto;
			letter-spacing: 0.4em;
		}
		.footer__adress {
            margin: auto;
			letter-spacing: 0.3em;

		}
	}
}


@media(min-width:1200px){

    footer{
        .row{
            margin: 0 auto;
            max-width: 1000px;
        }
    }

}